@import "@/scss/variables";

.home-container {
    flex-grow: 1;
    text-align: center;
    margin-bottom: 20px;
    width: 80%;
    margin: auto;

    .content {
        flex-grow: 1;
        margin-top: 20px;
        @media screen and (max-width: $breakpoint-sm) {
            width: 100%;
        }
    }
}

.loader,
.empty-table,
.error {
    display: flex;
    align-items: center;
    justify-content: center;
}
