@import "@/scss/variables";

.home-container {
    flex-grow: 1 ;
    text-align: center;
    margin-bottom: 20px;
    table{
    width: 100%;
    border-collapse: collapse;
    th, td{
    padding: 10px;
    text-align: left
    }
  th{
    border-bottom: 2px solid #333
  }
  td {
    border-bottom: 1px solid #ccc
  }
    }
    .sort-options {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .pagination {
        margin-top: 20px;
        .active {
            color: #fff;
        }
    }
    
}

