@import "@/scss/variables";

.sort-options {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

    @media screen and (max-width: $breakpoint-sm) {
        flex-direction: column;
    }
}
